<div class="card">
    <h4 class="card-header">
        Politica de devoluciones
    </h4>
    <div class="card-body">
        <h4 class="card-title">SOBRE VIAJES Y FLETES</h4>
        <ul class="bullet-line-list">
            <li>
                <h6>
                    Las cancelaciones por parte del cliente que se realicen 48 horas antes de iniciado el viaje serán reembolsadas al 100% menos la comisión por transacción, de lo contrario se aplicarán cargos por "flete en falso" por la cantidad de $2,500.00 MXN o equivalente al tipo de cambio por unidad.
                </h6>
                <p></p>
            </li>
            <li>
                <h6>
                    Las cancelaciones por parte del transportista que se realicen despues de haber recibido pago por parte del cliente aplicaran un saldo negativo de 5% al mismo, por concepto de comisiones de operacion, esto sera descontado en su proximo pago.
                </h6>
                <p></p>
            </li>
            <li>
                <h6>En el caso de robos, accidentes y retrasos, no se aplican reembolsos por concepto de cobro de flete.</h6>
                <p></p>
            </li>
            <li>
                <h6>
                    En caso de mercancía dañada, pérdida parcial o total se realizará un reembolso del 100% del costo del flete (no incluye costo de seguro), siempre y cuando se realice el reporte en tiempo y se demuestre la responsabilidad del transportista.
                </h6>
                <p></p>
            </li>
            <li>
                <h6>Una vez recoletada la mercancía no se realizan reembolsos por cancelación de parte del cliente.</h6>
                <p>Para la devolución de mercancía deberá contactar al transportista y acordar términos y condiciones.</p>
            </li>
            <li>
                <h6>El reembolso se realizará dentro de los cinco días hábiles siguientes a la fecha en que se realizó la cancelación del servicio.</h6>
                <p></p>
            </li>
            <li>
                <h6>Los reembolsos por pago en efectivo (referencia PAYNET) se realizarén a través del área de devoluciones, donde deberá indicar una cuenta donde se hará el mismo.</h6>
                <p></p>
            </li>
        </ul>
        <h4 class="card-title">SOBRE SEGURO DE MERCANCÍA Y/O CONTENEDOR</h4>
        <ul class="bullet-line-list">
            <li>
                <h6>Una vez emitida la póliza de seguro, el monto pagado no es reembolsable.</h6>
                <p></p>
            </li>
        </ul>
    </div>
</div>