<div class="card">
    <div class="card-header">
        <h4><i class="fas fa-bell fa-fw"></i> Mis notificaciones</h4>
    </div>
    <div class="card-body">
        <dx-data-grid [remoteOperations]="true" [allowColumnResizing]="true" [columnHidingEnabled]="true"
            [rowAlternationEnabled]="true" [dataSource]="dataSource" (onContentReady)="dxDataGridOptions.onContentReady($event)"
            (onExporting)="dxDataGridOptions.onExporting($event)" (onRowPrepared)="dxDataGridOptions.onRowPrepared($event)">
            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
            <dxo-search-panel [visible]="true" applyFilter="auto"></dxo-search-panel>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]" [showInfo]="true"></dxo-pager>
            <dxo-selection mode="multiple" [allowSelectAll]="true" selectAllMode="page"
                showCheckBoxesMode="onClick"></dxo-selection>
            <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxi-column dataField="FechaRegistro" caption="Fecha de registro" dataType="datetime"
                format="dd/MM/yyyy HH:mm" sortOrder="desc" [width]="200" [hidingPriority]="1"></dxi-column>
            <dxi-column dataField="Cuerpo" caption="Descripción" dataType="string"
            cellTemplate="cellTemplate"></dxi-column>
            <dxi-column caption="OPC" name="opciones" [allowExporting]="false" [allowFiltering]="false"
                [allowResizing]="false" [allowSorting]="false" [width]="50" type="buttons">
                <dxi-button icon="eyeopen"></dxi-button>
            </dxi-column>
            <div *dxTemplate="let options of 'cellTemplate'">
                <div class="text-wrap">
                   <span class="badge badge-primary">{{ options.data.FechaRegistro | dateFromNow}} </span> | {{options.data.Cuerpo}}
                </div>
              </div>
              <dxo-toolbar>
                <dxi-item location="before">
                    <div *dxTemplate class="informer">
                        <h2 class="count">{{dxDataGridOptions.totalCount}}</h2>
                        <span class="name">Notificaciones</span>
                    </div>
                </dxi-item>
                <dxi-item locateInMenu="auto" location="after" showText="inMenu">
                    <div *dxTemplate>
                        <dx-button text="Recargar" icon="fa-solid fa-sync" hint="Recargar"
                            (onClick)="dataSource.reload()"></dx-button>
                    </div>
                </dxi-item>
                <dxi-item name="exportButton"></dxi-item>
                <dxi-item name="columnChooserButton"></dxi-item>
                <dxi-item name="searchPanel"></dxi-item>
            </dxo-toolbar>
        </dx-data-grid>
    </div>
</div>