<div class="page-header">
    <h2 class="page-title"><i class="fas fa-cogs"></i> Catálogos</h2>
</div>

<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row align-items-center">
                    <i class="fas fa-3x fa-truck-loading"></i>
                    <div class="ml-3">
                        <h5 class="text-facebook">Tipos de unidades</h5>
                        <p class="mt-2 text-muted card-text">Especificar la forma de la unidad de transporte. Ejem. Contenedor Flat Rack 20 pies, Caja cerrada, Media redila</p>
                        <a routerLink="/TipoUnidadTransporte" class="btn btn-secondary text-right"><i class="fas fa-cog fa-fw"></i>Administrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row align-items-top">
                    <i class="fas fa-3x fa-flask "></i>
                    <div class="ml-3">
                        <h5 class="text-facebook">Sustancias peligrosas transporte terrestre</h5>
                        <p class="mt-2 text-muted card-text">
                            Todo producto, material o residuos que en estado sólido, líquido o gaseoso tiene el potencial de ocasionar daños a bienes, personas y/o al medio ambiente
                        </p>
                        <a routerLink="/SustanciaPeligrosa" class="btn btn-secondary text-right"><i class="fas fa-cog fa-fw"></i>Administrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row align-items-top">
                    <i class="fas fa-3x fa-ruler-combined "></i>
                    <div class="ml-3">
                        <h5 class="text-facebook">Unidades de medida</h5>
                        <p class="mt-2 text-muted card-text">Unidades de medida utilizadas en viajes p.ej. KG, LT, M.</p>
                        <a routerLink="/UnidadMedida" class="btn btn-secondary text-right"><i class="fas fa-cog fa-fw"></i>Administrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
   
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row align-items-top">
                    <i class="fas fa-3x fa-road"></i>
                    <div class="ml-3">
                        <h5 class="text-facebook">Categorias de viaje</h5>
                        <p class="mt-2 text-muted card-text">Son las categorias que permiten filtrar a los clientes y especificar a los transportistas el tipo de mercancia a mover</p>
                        <a routerLink='/CategoriaViaje' class="btn btn-secondary text-right"><i class="fas fa-cog fa-fw"></i>Administrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

