<!--<dx-data-grid [remoteOperations]="true" [allowColumnResizing]="true" [columnHidingEnabled]="true" [rowAlternationEnabled]="true"
[dataSource]="dataSource">
    <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
    <dxo-search-panel [visible]="true" applyFilter="auto"></dxo-search-panel>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]" [showInfo]="true"></dxo-pager>
    <dxo-selection mode="multiple" [allowSelectAll]="true" selectAllMode="page" showCheckBoxesMode="onClick"></dxo-selection>
    <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <ng-content></ng-content>
</dx-data-grid>-->
