<div class="card">
    <div class="card-header">
        <h4><i class="fas fa-cog fa-fw"></i> Administración de usuarios</h4>
    </div>
    <div class="card-body">
        <dx-data-grid [remoteOperations]="true" [allowColumnResizing]="true" [columnHidingEnabled]="true"
            [rowAlternationEnabled]="true" [dataSource]="dataSource" (onContentReady)="dxDataGridOptions.onContentReady($event)"
            (onRowPrepared)="dxDataGridOptions.onRowPrepared($event)" (onExporting)="dxDataGridOptions.onExporting($event)">
            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
            <dxo-search-panel [visible]="true" applyFilter="auto"></dxo-search-panel>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]" [showInfo]="true"></dxo-pager>
            <dxo-selection mode="multiple" [allowSelectAll]="true" selectAllMode="page"
                showCheckBoxesMode="onClick"></dxo-selection>
            <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
            <!--<dxo-header-filter [visible]="true"></dxo-header-filter>-->
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxi-column dataField="FechaRegistro" caption="Fecha de registro" dataType="datetime"
                format="dd/MM/yyyy HH:mm" sortOrder="desc" [hidingPriority]="9"></dxi-column>
            <dxi-column dataField="UserName" caption="Usuario" dataType="string"></dxi-column>
            <dxi-column dataField="Nombre" dataType="string" [hidingPriority]="7"></dxi-column>
            <dxi-column dataField="Paterno" caption="A. Paterno" dataType="string" [hidingPriority]="6"></dxi-column>
            <dxi-column dataField="Materno" caption="A. Materno" dataType="string" [hidingPriority]="5"></dxi-column>
            <dxi-column dataField="Email" caption="Correo electrónico" dataType="string"
                [hidingPriority]="2"></dxi-column>
            <dxi-column dataField="PhoneNumber" caption="Teléfono" dataType="string" [hidingPriority]="1"></dxi-column>
            <dxi-column dataField="TieneConstanciaFiscal" caption="¿Constancia fiscal" dataType="boolean" falseText="NO"
                trueText="SI" [showEditorAlways]="false" [hidingPriority]="8"></dxi-column>
            <dxi-column dataField="Rol" caption="Rol/Perfil" dataType="string" [hidingPriority]="4"></dxi-column>
            <dxi-column dataField="EstaActivo" caption="¿Está activo?" dataType="boolean" falseText="NO" trueText="SI"
                [showEditorAlways]="false" [hidingPriority]="3"></dxi-column>
            <dxi-column caption="OPC" name="opciones" [allowExporting]="false" [allowFiltering]="false"
                [allowResizing]="false" [allowSorting]="false" [width]="50" type="buttons">
                <dxi-button icon="menu" [onClick]="dxDataGridOptions.onOpcClick"></dxi-button>
            </dxi-column>
            <dxo-toolbar>
                <dxi-item location="before">
                    <div *dxTemplate class="informer">
                        <h2 class="count">{{dxDataGridOptions.totalCount}}</h2>
                        <span class="name">Registros</span>
                    </div>
                </dxi-item>
                <dxi-item locateInMenu="auto" location="after" showText="inMenu">
                    <div *dxTemplate>
                        <dx-button text="Recargar" icon="fa-solid fa-sync" hint="Recargar"
                            (onClick)="dataSource.reload()"></dx-button>
                    </div>
                </dxi-item>

                <dxi-item name="exportButton"></dxi-item>
                <dxi-item name="columnChooserButton"></dxi-item>
                <dxi-item name="searchPanel"></dxi-item>
            </dxo-toolbar>
        </dx-data-grid>
        <dx-action-sheet [items]="dxActionSheetOptions.items" [title]="dxActionSheetOptions.title"
        [usePopover]="dxActionSheetOptions.usePopover" [(visible)]="dxActionSheetOptions.visible"
        [target]="dxActionSheetOptions.target" (onItemClick)="dxActionSheetOptions.onItemClick($event)"
        [width]="320">
    </dx-action-sheet>
    </div>
</div>
<dx-popup [deferRendering]="false" title="Constancia de situación fiscal" [showTitle]="true"
[maxWidth]="768" height="auto" [(visible)]="dxPopUpConstanciaOptions.visible">
<div *dxTemplate="let data of 'content'">
    <app-subir-constancia-situacion-fiscal [soloLectura]="true" [usuarioId]="dxPopUpConstanciaOptions.usuarioId"
    [nombreUsuario]="dxPopUpConstanciaOptions.nombreUsuario"></app-subir-constancia-situacion-fiscal>
</div>
</dx-popup>